body{
    background-color: rgb(91, 86, 86);
}
.heading{
    margin-top: 50px;
   text-align: center;
   color: antiquewhite;
}
.gallery{
    display:  grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: black;
     gap: 20px;
    max-width: 1200px;
      margin: auto;
}
.item{
    position:relative;
    height: 350px;
    margin: 5px;
    overflow: hidden;
    border-radius: 20px;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
  
}
.item:hover img {
      transform: scale(1.1);
      opacity: 0.75;
}
.caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 15px;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      text-align: center;
      font-size: 16px;
      opacity: 0;
      transition: opacity 0.4s ease;
}

.item:hover .caption {
      opacity: 1;
}
 @media (max-width: 600px) {
      h1 {
        font-size: 22px;
      }
      .caption {
        font-size: 14px;
      }
}
.caption {
    transform: translate(-50%, 20%);
}
.item:hover .caption {
    transform: translate(-50%, -50%);
}
